      <div class="row">
        <div class="eight columns centered">
          <h2>F.A.Q.</h2>

          <h5>Is dotJS coming back in 2013?</h5>
          <p>Yes it is :) We also announced a whole <a href="http://dotconferences.eu/">series of dotConferences</a>!</p>


          <h5>What makes dotJS special?</h5>
          <p>You should check out our <a href="http://svay.com/photos/2012-11-30_dotjs/">2012 photos</a> to understand!</p>

          <h5>Is dotJS about front-end or back-end JavaScript?</h5>
          <p>Both.</p>

          <h5>Who are the organizers?</h5>
          <p>The conference is organized by <a href="http://twitter.com/sylvinus">@sylvinus</a> (founder) and <a href="http://twitter.com/tbassetto">@tbassetto</a> (co-founder) from <a href="http://twitter.com/Joshfire">@Joshfire</a>. Logistics are handled by <a href="http://www.brightness.fr">Brightness</a>.</p>

          <h5>What is be the language of the talks?</h5>
          <p>As we welcome attendees and speakers from all over the world, all the talks are in <strong>English</strong>.</p>

          <h5>Will this be yet another crazy expensive conference?</h5>
          <p>No. This is a conference by hackers for hackers. We will try to keep the price below 100€.</p>

          <h5>How awesome is your website footer?</h5>
          <p>Very awesome.</p>
        </div>
      </div>