      <div class="row">
        <div class="eight columns centered">
          <h2>F.A.Q.</h2>

          <h5>What is the schedule of the conference?</h5>
          <p>dotJS is a full-day (Friday), single-track event with lunch served to all attendees.</p>

          <h5>Will it be about front-end or back-end JavaScript?</h5>
          <p>Both.</p>

          <h5>Who are the organizers?</h5>
          <p><a href="http://twitter.com/sylvinus">@sylvinus</a> and <a href="http://twitter.com/tbassetto">@tbassetto</a>. Help is welcome!</p>

          <h5>When/where will tickets be on sale?</h5>
          <p>We will release several <a href="http://amiando.com/dotjs">batches of tickets on Amiando</a>. Leave your email on the homepage to be kept updated.</p>

          <h5>Will this be yet another crazy expensive conference?</h5>
          <p>No. This is a conference by hackers for hackers. We will try to keep the price below 100€.</p>

          <h5>What will be the language of the talks?</h5>
          <p>As we welcome attendees and speakers from all over the world, the talks will be in <strong>English</strong>.</p>
        </div>
      </div>