      <div class="row">
        <div class="eight columns centered">
          <h2>F.A.Q.</h2>

          <h5>What is the schedule of the conference?</h5>
          <p>dotJS is a full-day (Friday), single-track event with lunch served to all attendees. Gates should open at 8am for a first session at 9am. The last sessions should end at 6pm.</p>

          <h5>Will it be about front-end or back-end JavaScript?</h5>
          <p>Both.</p>

          <h5>Who are the organizers?</h5>
          <p>The conference is organized by <a href="http://twitter.com/Joshfire">@Joshfire</a> under the direction of <a href="http://twitter.com/sylvinus">@sylvinus</a> (founder) and <a href="http://twitter.com/tbassetto">@tbassetto</a> (co-founder). Logistics are handled by <a href="http://www.brightness.fr">Brightness</a>.</p>

          <h5>When/where will tickets be on sale?</h5>
          <p>Tickets are <a href="http://amiando.com/dotjs">available now on Amiando</a>!</p>

          <h5>Is this be yet another crazy expensive conference?</h5>
          <p>No. This is a conference by hackers for hackers. We will try to keep the price below 100€.</p>

          <h5>What will be the language of the talks?</h5>
          <p>As we welcome attendees and speakers from all over the world, all the talks will be in <strong>English</strong>.</p>
        </div>
      </div>