      <div class="row">
        <div class="twelve columns">
          <div class="alert-box" style="font-size:1.3em;">
            <strong><a href="http://amiando.com/dotjs">Early Bird tickets</a></strong> on sale NOW!
          </div>
          <div class="text-center big-title">
            <h1>The largest JavaScript conference in France</h1>
          </div>
          <div class="text-center big-subtitle">
            <h2>November 30, 2012 · Paris, France</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="four columns speaker-box">
          <div class="row">
            <div class="six columns">
              <img class="speaker-picture" src="images/jerem.png">
            </div>
            <div class="six columns">
              <h3 class="speaker-name">Jeremy Ashkenas</h3>
              <p class="speaker-description">Created Backbone.js, Underscore.js &amp; CoffeeScript</p>
            </div>
          </div>
        </div>
        <div class="four columns speaker-box">
          <div class="row">
            <div class="six columns">
              <img class="speaker-picture" src="images/mathias.png">
            </div>
            <div class="six columns">
              <h3 class="speaker-name">Mathias Bynens</h3>
              <p class="speaker-description">Created <a href="http://jsperf.com">jsperf.com</a>, contributes to HTML5 Boilerplate</p>
            </div>
          </div>
        </div>
        <div class="four columns speaker-box">
          <div class="row">
            <div class="six columns">
              <img class="speaker-picture" src="images/christian.png">
            </div>
            <div class="six columns">
              <h3 class="speaker-name">Christian Amor Kvalheim</h3>
              <p class="speaker-description">Created the MongoDB driver for Node.js</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="four columns speaker-box">
          <div class="row">
            <div class="six columns">
              <img class="speaker-picture" src="images/mrdoob.png">
            </div>
            <div class="six columns">
              <h3 class="speaker-name">Mr.doob</h3>
              <p class="speaker-description">Created Three.js &amp; countless Javascript demos</p>
            </div>
          </div>
        </div>
        <div class="four columns speaker-box">
          <div class="row">
            <div class="six columns">
              <img class="speaker-picture" src="images/bert.png">
            </div>
            <div class="six columns">
              <h3 class="speaker-name">Bert Belder</h3>
              <p class="speaker-description">Member of the Node.js core team</p>
            </div>
          </div>
        </div>
        <div class="four columns speaker-box speaker-box-more">
          <div class="row">
            <div class="six columns">
              <img class="speaker-picture speaker-picture-more" src="images/more.png">
            </div>
            <div class="six columns">
              <h3 class="speaker-name">Many more to come</h3>
              <p class="speaker-description">Next awesome speakers to be announced at ParisJS...</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <div class="social-box">

            <% if ( typeof success != "undefined" && success == 1) { %>
              <p class="social-box-registered">Thanks!</p>
            <% } else if ( typeof success != "undefined" && success == 0) { %>
              <p class="social-box-error"><%= error %></p>
            <% } else { %>
              <form class="social-box-form nice" method="POST" action="/" id="newsletter">
                <input type="email" name="email" placeholder="Enter your email" class="input-text" style="width:200px;">
                <input type="submit" value="Subscribe to our updates" class="small white nice button radius" style="padding-right:5px;padding-left:5px;">
              </form>
            <% } %>

            <p class="social-box-label">
              <span>Keep in touch&nbsp;&nbsp;&nbsp;&nbsp;</span>

              <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://dotjs.eu" data-text="The largest JavaScript conference in France" data-count="none" data-hashtags="dotJS">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
&nbsp;&nbsp;&nbsp;&nbsp;

              <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fdotjs&amp;send=false&amp;layout=standard&amp;width=200&amp;show_faces=false&amp;action=like&amp;colorscheme=dark&amp;font&amp;height=35&amp;appId=251788478243524" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:35px;" allowTransparency="true"></iframe>
            </p>

            <div class="g-plusone" data-annotation="inline" data-width="120" data-href="http://www.dotjs.eu"></div>
            <script type="text/javascript">
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>
          </div>
        </div>
      </div>