      <div class="row">
        <div class="eight columns centered" style="min-height:400px;">
          <h2>Partners</h2>
          <p>Partner packages are available on request: <a href="mailto:contact@dotjs.eu">contact@dotjs.eu</a>.</p>
        </div>
      </div>