      <div class="row">
        <div class="eight columns centered">
          <h2>Partners</h2>
          <p>Partners packages are available on request: <a href="mailto:contact@dotjs.fr">contact@dotjs.fr</a>.</p>
        </div>
      </div>