      <div class="row">
        <div class="six columns centered">
          <h2>Friday Schedule</h2>

            <table class="responsive">
                  <tbody><tr>
                    <th>When</th>
                    <th>What</th>
                  </tr>
                  <tr>
                    <td>8am - 9am</td>
                    <td><strong>Registration.</strong> Your badge will be waiting for you at the entrance, please have an ID card and your amiando ticket ready. <strong>Do not plan to arrive after 8:30am</strong> because there will be a line!</td>
                  </tr>
                  <tr>
                    <td style="white-space: nowrap;">9am - 10:30am</td>
                    <td>First session</td>
                  </tr>
                  <tr>
                    <td style="white-space: nowrap;">10:30am - 11am</td>
                    <td>Break</td>
                  </tr>
                  <tr>
                    <td style="white-space: nowrap;">11am - 12:30pm</td>
                    <td>Second session</td>
                  </tr>
                  <tr>
                    <td style="white-space: nowrap;">12:30pm - 1:15pm</td>
                    <td><strong>Lunch</strong>, 1st service. You will have to pick a service at the registration desk.</td>
                  </tr>
                  <tr>
                    <td style="white-space: nowrap;">1:15pm - 2pm</td>
                    <td><strong>Lunch</strong>, 2nd service</td>
                  </tr>
                  <tr>
                    <td style="white-space: nowrap;">2pm - 3:30pm</td>
                    <td>Third session</td>
                  </tr>
                  <tr>
                    <td style="white-space: nowrap;">3:30pm - 4:30pm</td>
                    <td>Break</td>
                  </tr>
                  <tr>
                    <td style="white-space: nowrap;">4:30pm - 6pm</td>
                    <td>Fourth session</td>
                  </tr>
                  <tr>
                    <td style="white-space: nowrap;">6pm - ??</td>
                    <td><strong>Afterparty</strong> at <a href="http://leplayers.com/">Le Player's</a></td>
                  </tr>
                </tbody></table>

              <p>As you can see we are not announcing the order of the speakers. Did you think dotJS was a regular conference? ;-)</p>
              <p>All jokes aside, we do this because we only have one track and we want to keep you surprised and focused all day long!</p>

              <h2>Saturday Schedule</h2>
              <p>See our <a href="/workshops">Workshops</a> page.</p>
        </div>
      </div>