      <div class="row">
        <div class="eight columns centered">
          <h2>Schedule</h2>
          <p>Schedule to be announced. We'll keep you posted in the <a href="/#newsletter">newsletter</a>.</p>
        </div>
      </div>