      <div class="row">
        <div class="eight columns centered">
          <h2>Schedule</h2>
          <p>Schedule to be announced. We'll keep you posted in the newsletter.</p>
        </div>
      </div>
      <div class="row">
        <div class="eight columns centered">
          <div class="social-box">
            <form class="social-box-form nice">
              <input type="email" placeholder="Enter your email" class="input-text">
              <input type="submit" disabled value="Subscribe to our newsletter" class="small white nice button radius">
            </form>

            <p class="social-box-label">
              <span>Keep in touch&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </p>
          </div>
        </div>
      </div>