      <div class="row">
        <div class="eight columns centered" style="min-height:400px;">
          <h2>Venue</h2>
          <p>Our amazing venue will be announced soon, in the heart of Paris. We'll keep you posted in the <a href="/#newsletter">newsletter</a>.</p>
        </div>
      </div>