      <div class="row">
        <div class="eight columns centered">
          <h2>Venue</h2>
          <p>Venue to be announced (but it will be in the center of Paris). We'll keep you posted in the <a href="/#newsletter">newsletter</a>.</p>
        </div>
      </div>