
              <style>
              ul, li {
                list-style: disc !important;
              }
              li {
                margin-bottom: 0 !important;
                margin-left:30px;
              }
              </style>

      <div class="row">
        <div class="eight columns centered" id="workshops">
          <h2>Workshop Day</h2>
          <h3>Saturday, December 1st</h3>


          <div style="float:right;width:20%;margin-left:20px;margin-top:-30px;">
            <p style="font-size:16px;text-align:center;margin-bottom:10px">Workshop hosts</p>
            <p style="margin-bottom:10px"><a href="http://www.lecamping.org"><img style="max-width:100%" src="partners/lecamping.png"></a></p>
            <p style="margin-bottom:10px"><a href="http://www.eemi.com"><img style="max-width:100%" src="partners/eemi.jpg"></a></p>
          </div>

          <p>We had lots of demands for a more hands-on day… and we listened!</p>

          <p>The day after the main conference will be dedicated to a series of workshops hosted by our partners taking place in <a href="http://www.palaisbrongniart.com">The Palais Brongniart</a>, not far from our main venue.</p>

          <!--
          <div class="alert-box" style="font-size:1.3em;">
            <p>These are two important pieces of information so let's bullet-proof them ;-)</p>

            <ol class="alert-li">
              <li>Your ticket for the Friday <strong>does not</strong> grant you admission on Saturday</li>
              <li>Admission on Saturday being free, please only register if you <strong>really come</strong>. We'll publish a wall of shame on the website with those who don't show up. Seriously! (or not, but you never know..)</li>
            </ol>
          </div>
          -->

          <h3>Sessions</h3>

          <p>We are very lucky to have our main partners involved in the organization of this day. <b>Please note that you can only register to one session as they are all happening at the same time!</b></p>
          <p>Here are the sessions currently confirmed:</p>

          <h4 id="enyo"><a href="#enyo">Enyo</a></h4>
          <div class="row">
            <div class="four columns">
              <p><strong>Location:</strong> <a href="http://www.eemi.com">EEMI</a></p>
              <p><strong>Hours:</strong> 2pm-6pm</p>
              <p><a href="http://amiando.com/dotjs">Tickets</a></p>
            </div>
            <div class="eight columns">
              <p>Come to the Enyo Workshop to learn everything you need to know to begin creating cross-platform cross-browser Web applications with this exciting framework.</p>
              <p>Enyo is a JavaScript app framework, helping you build native-quality HTML5 apps that run on mobile, desktop and beyond. Enyo is 100% free and open-source.</p>
              <strong>Agenda:</strong>
              <ul>
                <li>What is Enyo?</li>
                <li>Framework Comparison</li>
                <li>Explore the Basic Concepts</li>
                <li>Combine Enyo and PhoneGap</li>
                <li>Build your first Enyo App</li>
                <li>The Enyo Community</li>
              </ul>
              <p>Attendees should be somewhat familiar with HTML, JavaScript, and CSS to get the biggest benefit.  Visit <a href="http://enyojs.com">enyojs.com</a> to download the lastest version and be ready to be inspired.</p>
              <strong>What to bring on your laptop:</strong>
              <ul>
                <li>JavaScript editor or IDE of your choice.</li>
                <li>Modern browser</li>
                <li>Lastest copy of <a href="www.enyojs.com">Enyo</a></li>
                <li>SDK of the mobile platform of your choice (webOS, iOS, Android, Blackberry, WP7)</li>
              </ul>
              <p>To get into the spirit of working with the framework, read about <a href="http://www.xtuple.org/node/5000">Xtuple's recent experience</a> and be inspired by the ease of Enyo.</p>
              <p><a href="http://amiando.com/dotjs">Tickets available now!</a></p>
            </div>
          </div>
          <hr>

          <h4 id="sendgrid"><a href="#sendgrid">SendGrid</a></h4>
          <div class="row">
            <div class="four columns">
              <p><strong>Location:</strong> <a href="http://www.eemi.com">EEMI</a></p>
              <p><strong>Hours:</strong> 2pm-6pm</p>
              <p><a href="http://amiando.com/dotjs">Tickets</a></p>
            </div>
            <div class="eight columns">
              <strong>SendGrid Workshop</strong>

              <p>This is a hands on workshop where you'll learn everything you need to know about
              getting started with Arduino and Node.js.  Arduino recently became the coolest
              kid on the block among developers and now everyone wants to work with hardware.
              During this session, <a href="http://twitter.com/swiftalphaone" target="_blank">Swift</a> from
              <a href="http://sendgrid.com" target="_blank">SendGrid</a> will help you get from zero to &quot;Hello World&quot; and
              beyond.</p>

              <strong>Topics</strong>

              <ul>
                <li>Basic Overview: What is an Arduino?</li>
                <li>Hello World: Working with LEDs</li>
                <li>Talking to your Arduino with Node.js</li>
                <li>Buttons and sensors</li>
                <li>Using APIs w/ your Arduino</li>
              </ul>


              <strong>What you need</strong>

              <p>The only thing that is absolutely required to participate in the event is a
              laptop running Node.js 0.8.x.</p>

              <p>The workshop will focus on using the Arduino Uno, so if you already have one,
              please bring it.  You should make sure it is running <a href="https://github.com/rwldrn/johnny-five#setup-and-assemble-arduino" target="_blank">Firmata
              2.2</a>.</p>

              <p>If you don&#39;t already have an arduino, don&#39;t worry. The 20 first people to sign up for the workshop will get free Arduino Uno Kits on Dec 1st, offered by SendGrid!</p>

              <p><a href="http://amiando.com/dotjs">Tickets available now!</a></p>
            </div>
          </div>
          <hr>


          <h4 id="realtime"><a href="#realtime">Realtime.co</a></h4>
          <div class="row">
            <div class="four columns">
              <p><strong>Location:</strong> <a href="http://www.eemi.com">EEMI</a></p>
              <p><strong>Hours:</strong> 2pm-6pm</p>
              <p><a href="http://amiando.com/dotjs">Tickets</a></p>
            </div>
            <div class="eight columns">
              <strong>Realtime Framework Workshop</strong>

              <p>The <a href="http://www.realtime.co/">Realtime Framework</a> helps developers leverage standards such as websockets while providing a cloud-based one-to-one/one-to-many/many-to-many messaging system which provides very high performance and low latency all around the globe. With the added capability of supporting up to an unlimited amount of concurrent connections/users and offering a very strong security layer, The Realtime Framework sets itself to be the tool for developers to build the next-generation real-time applications.</p>

              <p>Either your user's browser supports HTML5 websockets or not, you can be sure that Realtime will work, since the framework verifies and uses the best message transport available for the browser transparently, so you don't have to worry about it. Besides JavaScript, the Realtime Framework also provides you with APIs for server-side and native mobile languages: ASP.net, Java, ActionScript, iOS, Android, Node.js, Silverlight and Windows Phone, with more to come.</p>

              <p>In this session you will learn all about what the Realtime Framework offers and what challenges were tackled in order to provide this enterprise grade solution built with developers in mind:</p>
              <ul>
                <li>Find out about the anatomy of a Realtime-enabled application</li>
                <li>How to connect your browser to a server</li>
                <li>How to subscribe channels</li>
                <li>How to send and receive messages</li>
                <li>How to use and extend tags</li>
                <li>How to secure your application, to prevent malicious content being pushed to your users</li>
              </ul>

              <p>Realtime offers a FREE (limited) license for you to use on your projects so hop on, learn the ins-and-outs and start developing your real-time applications right away. Realtime is also having a xRTML 3.0 contest where you can build your apps, show them to the world and win cool prizes. Check it out at <a href="http://contest.xrtml.org/">http://contest.xrtml.org</a>!</p>

              <p><a href="http://amiando.com/dotjs">Tickets available now!</a></p>
            </div>
          </div>
          <hr>

          <h4 id="microsoft"><a href="#microsoft">Microsoft</a></h4>
          <div class="row">
            <div class="four columns">
              <p><strong>Location:</strong> <a href="http://www.eemi.com">EEMI</a></p>
              <p><strong>Hours:</strong> 2pm-6pm</p>
              <p><a href="http://amiando.com/dotjs">Tickets</a></p>
            </div>
            <div class="eight columns">
              <p>Au cours de cet atelier vous découvrirez comment utiliser vos compétences HTML5/CSS3/Javascript pour développer des applications Windows 8 Modern UI natives.</p>
              <p>Cette découverte se fera au travers de plusieurs ateliers guidés :</p>
              <ul>
                <li style="list-style:none!important">Découverte des fonctionnalités natives de Windows 8 comme:
                  <ul>
                    <li>Le framework de navigation</li>
                    <li>WinJS</li>
                    <li>Les contrats (search & share)</li>
                    <li>Settings et gestion des préférences</li>
                    <li>Les tuiles de Windows 8</li>
                  </ul>
                </li>
                <li style="list-style:none!important">Mise en œuvre : Comment créer un lecteur de flux RSS complet en deux heures</li>
              </ul>
              <p><a href="http://amiando.com/dotjs">Tickets available now!</a></p>
            </div>
          </div>
          <hr>

          <h4 id="appsfuel"><a href="#appsfuel">AppsFuel</a></h4>
          <div class="row">
            <div class="four columns">
              <p><strong>Location:</strong> <a href="http://www.eemi.com">EEMI</a></p>
              <p><strong>Hours:</strong> 2pm-6pm</p>
              <p><a href="http://amiando.com/dotjs">Tickets</a></p>
            </div>
            <div class="eight columns">
              <strong>Building Mobile Web Apps with HTML5 &amp; Javascript.</strong>
              <p>Thanks to HTML5 technologies, mobile web apps represent one of the most exciting mobile business opportunities for the near future and beyond.  Are you ready to make the most of your web development skills, Javascript, CSS3 to create products that are specifically designed and optimised for today's smartphones and tablets?  The AppsFuel team will guide you in the creation of your first web app for mobile devices without using any restrictive native or hybrid technologies and without frameworks.  Just pure Javascript and HTML5.</p>
              <p>What you will learn:</p>
              <ul>
                <li>What are the most useful and supported features of HTML5 for mobile devices</li>
                <li>How to set up your apps to be compatible with iPhone, Android and other devices that support HTML5</li>
                <li>How to realise an effect of "scrolling panels" in your webapp</li>
                <li>How to create a grafic interface using only CSS3</li>
              </ul>
              <p>What you will need:</p>
              <ul>
                <li>A mobile device compatible with HTML5</li>
                <li>Basic knowledge of HTML and Javascript</li>
                <li>Latest version of Firefox, Chrome or Safari installed on your computer</li>
                <li>Your favorite text editor</li>
              </ul>
              <p><a href="http://amiando.com/dotjs">Tickets available now!</a></p>
            </div>
          </div>
          <hr>

          <h4 id="joshfire"><a href="#joshfire">Joshfire</a></h4>
          <div class="row">
            <div class="four columns">
              <p><strong>Location:</strong> <a href="http://www.eemi.com">EEMI</a></p>
              <p><strong>Hours:</strong> 2pm-6pm</p>
              <p><a href="http://amiando.com/dotjs">Tickets</a></p>
            </div>
            <div class="eight columns">
              <p>Joshfire will run a workshop on Node.js development for beginners.</p>
              <p><a href="http://amiando.com/dotjs">Tickets available now!</a></p>
            </div>
          </div>
          <hr>


          <h4 id="google"><a href="#google">Google</a></h4>
          <div class="row">
            <div class="four columns">
              <p><strong>Location:</strong> Le Camping</p>
              <p><strong>Hours:</strong> All day</p>
              <p><a href="http://amiando.com/dotjs">SOLD OUT</a></p>
            </div>
            <div class="eight columns">
              <table class="responsive">
                <tbody><tr>
                  <th></th>
                  <th>Codelab 1</th>
                  <th>Codelab 2</th>
                </tr>
                <tr>
                  <td>10am - 12pm</td>
                  <td>Build your first Dart app<br>(Vyacheslav)</td>
                  <td>Let's have fun with CSS3 and 3D animations<br>(Martin Gorner)</td>
                </tr>
                <tr>
                  <td>1:30pm - 3:30pm</td>
                  <td>From JS ninja to superhero with Angular JS<br>(Vojta Jina + Igor Minar)</td>
                  <td>Let's get bouncy with Canvas and Box2D<br>(Martin Gorner)</td>
                </tr>
                <tr>
                  <td>4:00pm - 6:00pm</td>
                  <td colspan="2">A 3D dive into WebGL and THREE.js<br>(Ricardo a.k.a. Mr. Doob + Martin Gorner)</td>
                </tr>
              </tbody></table>
              <p><strong>Setup for the Dart codelab:</strong></p>
              <p>Please install Dart Editor and test one of the samples to ensure everything works. If you have troubles, please review Troubleshooting Dart Editor.</p>
              <p><strong>Setup for other codelabs:</strong></p>
              <p>Just your favorite JS editor and Chrome (or Firefox).</p>
            </div>
          </div>
          <hr>





          <div class="alert-box" style="font-size:1.3em;">
            The tickets are available <strong>separately</strong> and for <strong>free</strong> on <a href="http://amiando.com/dotjs">Amiando</a>.
          </div>

          
          <h3>Want to host a workshop?</h3>
          <p><a href="/partners">Contact us</a>!</p>

          
                <div class="row">
        <div class="eight columns centered" style="min-height:280px;">
          <div class="text-center" style="margin-top:30px;float:left;width:440px">
            <img src="images/brongnart-008.jpg" alt="Workshop venue photo" id="workshops-venue">
            <p id="workshop-photo-credit"><small>Escalier ©Alexandra Fleurantin</small></p>

          </div>
          
        </div>
      </div>
        </div>
      </div>