      <div class="row">
        <div class="twelve columns centered" style="min-height:400px;">
          <div class="text-center" style="margin-top:30px;">
            <img src="images/brongnart-008.jpg" id="Workshop venue photo">
            <p><small>Escalier ©Alexandra Fleurantin</small></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="eight columns centered" id="workshops">
          <h2>Workshops</h2>
          <h3>December, 1st</h3>

          <p>We had lots of demands for a more hands-on day… and we listened!</p>

          <p>The day after the main conference will be dedicated to a series of workshops curated by our partners taking place in <a href="http://www.palaisbrongniart.com">The Palais Brongniart</a>, not far from our main venue.</p>

          <div class="alert-box" style="font-size:1.3em;">
            The tickets will be available in October <strong>separately</strong> and for <strogn>free</strogn>.
          </div>

          <h4>Google</h4>
          <div class="row">
            <div class="four columns">
              <p><strong>Room:</strong> Le Camping</p>
              <p><strong>Hours:</strong> All day</p>
            </div>
            <div class="eight columns">
              <p>Google will run a workshop on Angular JS.</p>
            </div>
          </div>

          <hr>

          <h4>Microsoft</h4>
          <div class="row">
            <div class="four columns">
              <p><strong>Room:</strong> <acronym title="To Be Announced">TBA</acronym></p>
              <p><strong>Hours:</strong> <acronym title="To Be Announced">TBA</acronym></p>
            </div>
            <div class="eight columns">
              <p>Microsoft will run a workshop about Win8 development with HTML5.</p>
            </div>
          </div>

          <hr>

          <h4>AppsFuel</h4>
          <div class="row">
            <div class="four columns">
              <p><strong>Room:</strong> <acronym title="To Be Announced">TBA</acronym></p>
              <p><strong>Hours:</strong> <acronym title="To Be Announced">TBA</acronym></p>
            </div>
            <div class="eight columns">
              <p>AppsFuel will run a workshop about their marketplace for HTML5 mobile web apps.</p>
            </div>
          </div>

          <hr>

          <h4>Joshfire</h4>
          <div class="row">
            <div class="four columns">
              <p><strong>Room:</strong> <acronym title="To Be Announced">TBA</acronym></p>
              <p><strong>Hours:</strong> <acronym title="To Be Announced">TBA</acronym></p>
            </div>
            <div class="eight columns">
              <p>Joshfire will run a workshop about cross-device development.</p>
            </div>
          </div>

          <hr>

          <p>More to be announced!</p>

          <h3>These are two important pieces of information so let's bullet-proof them ;-)</h3>
          <ol>
            <li>Your ticket for the Friday does not grant you admission on Saturday</li>
            <li>Admission on Saturday being free, please only register if you really come. We'll publish a wall of shame on the website with those who don't show up. Seriously! (or not, but you never know..)</li>
          </ol>

          <h3>Want to do a workshop?</h3>
          <p><a href="/partners">Contact us</a></p>
        </div>
      </div>