      <div class="row">
        <div class="eight columns centered" style="min-height:280px;">
          <div class="text-center" style="margin-top:30px;float:left;width:440px">
            <img src="images/brongnart-008.jpg" alt="Workshop venue photo" id="workshops-venue">
            <p id="workshop-photo-credit"><small>Escalier ©Alexandra Fleurantin</small></p>
          </div>
          <div style="float:left;width:20%;margin-left:20px;" class="padd">
            <p style="font-size:16px;text-align:center;margin-bottom:40px">Workshop hosts</p>
            <p style="margin-bottom:40px"><a href="http://www.lecamping.org"><img style="max-width:100%" src="partners/lecamping.png"></a></p>
            <p style="margin-bottom:40px"><a href="http://www.eemi.com"><img style="max-width:100%" src="partners/eemi.jpg"></a></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="eight columns centered" id="workshops">
          <h2>Workshop Day</h2>
          <h3>Saturday, December 1st</h3>

          <p>We had lots of demands for a more hands-on day… and we listened!</p>

          <p>The day after the main conference will be dedicated to a series of workshops hosted by our partners taking place in <a href="http://www.palaisbrongniart.com">The Palais Brongniart</a>, not far from our main venue.</p>

          <div class="alert-box" style="font-size:1.3em;">
            <p>These are two important pieces of information so let's bullet-proof them ;-)</p>

            <ol class="alert-li">
              <li>Your ticket for the Friday <strong>does not</strong> grant you admission on Saturday</li>
              <li>Admission on Saturday being free, please only register if you <strong>really come</strong>. We'll publish a wall of shame on the website with those who don't show up. Seriously! (or not, but you never know..)</li>
            </ol>
          </div>

          <h3>Sessions</h3>

          <p>We are very lucky to have our main partners involved in the organization of this day. Here are the sessions currently confirmed:</p>

          <h4 id="realtime"><a href="#sendgrid">Sendgrid</a></h4>
          <div class="row">
            <div class="four columns">
              <p><strong>Location:</strong> <a href="http://www.eemi.com">EEMI</a></p>
              <p><strong>Hours:</strong> 2pm-6pm</p>
              <p><a href="http://amiando.com/dotjs">Tickets</a></p>
            </div>
            <div class="eight columns">
              <strong>Sendgrid Workshop</strong>

              <p>Details TBA!</p>
            </div>
          </div>
          <hr>

          <h4 id="realtime"><a href="#realtime">Realtime.co</a></h4>
          <div class="row">
            <div class="four columns">
              <p><strong>Location:</strong> <a href="http://www.eemi.com">EEMI</a></p>
              <p><strong>Hours:</strong> 2pm-6pm</p>
              <p><a href="http://amiando.com/dotjs">Tickets</a></p>
            </div>
            <div class="eight columns">
              <strong>Realtime Framework Workshop</strong>

              <p>Real-time web is not just fun for developers to play around, it's also the path to the next generation web and mobile applications and it will fuel new and exciting features and business models. Developing it all by yourself and tackling all the different difficulties may seem interesting, but it can make you waste a lot of time - and money! By using a framework that does all the hard work for you, you can cut down on your programming time, develop amazing new applications and provide yourself, your company and your customers with amazing solutions and products.</p>

              <p>During this workshop, you'll learn about Realtime’s Framework scalability, get an in-depth knowledge of the security layer, understand how xRTML can further speed up the development process and everything else you need to know to start building your prototypes and full-fledged applications immediately. Bring your laptop with a web server (IIS, Apache or XAMPP works great) and your favorite HTML editor installed, so you can get your hands on the future of the web today.</p>
            </div>
          </div>
          <hr>

          <h4 id="enyo"><a href="#enyo">Enyo</a></h4>
          <div class="row">
            <div class="four columns">
              <p><strong>Location:</strong> <a href="http://www.eemi.com">EEMI</a></p>
              <p><strong>Hours:</strong> 2pm-6pm</p>
              <p><a href="http://amiando.com/dotjs">Tickets</a></p>
            </div>
            <div class="eight columns">
              <p>Come to the Enyo Workshop to learn everything you need to know to begin creating cross-platform cross-browser Web applications with this exciting framework.</p>
              <p>Enyo is a JavaScript app framework, helping you build native-quality HTML5 apps that run on mobile, desktop and beyond. Enyo is 100% free and open-source.</p>
              <p>Agenda:</p>
              <ul>
                <li>What is Enyo?</li>
                <li>Framework Comparison</li>
                <li>Explore the Basic Concepts</li>
                <li>Combine Enyo and PhoneGap</li>
                <li>Build your first Enyo App</li>
                <li>The Enyo Community</li>
              </ul>
              <p>Attendees should be somewhat familiar with HTML, JavaScript, and CSS to get the biggest benefit.  Visit <a href="http://enyojs.com">enyojs.com</a> to download the lastest version and be ready to be inspired.</p>
              <p><strong>What to bring:</strong></p>
              <p>Laptop with these resources:</p>
              <ul>
                <li>JavaScript editor or IDE of your choice.</li>
                <li>Modern browser</li>
                <li>Lastest copy of <a href="www.enyojs.com">Enyo</a></li>
                <li>SDK of the mobile platform of your choice (webOS, iOS, Android, Blackberry, WP7)</li>
              </ul>
              <p>To get into the spirit of working with the framework, read about <a href="http://www.xtuple.org/node/5000">Xtuple's recent experience</a> and be inspired by the ease of Enyo.</p>
            </div>
          </div>
          <hr>

          <h4 id="google"><a href="#google">Google</a></h4>
          <div class="row">
            <div class="four columns">
              <p><strong>Location:</strong> Le Camping</p>
              <p><strong>Hours:</strong> All day</p>
              <p><a href="http://amiando.com/dotjs">Tickets</a></p>
            </div>
            <div class="eight columns">
              <table class="responsive">
                <tbody><tr>
                  <th></th>
                  <th>Codelab 1</th>
                  <th>Codelab 2</th>
                </tr>
                <tr>
                  <td>10am - 12pm</td>
                  <td>Build your first Dart app<br>(Vyacheslav)</td>
                  <td>Let's have fun with CSS3 and 3D animations<br>(Martin Gorner)</td>
                </tr>
                <tr>
                  <td>1:30pm - 3:30pm</td>
                  <td>From JS ninja to superhero with Angular JS<br>(Vojta Jina + Igor Minar)</td>
                  <td>Let's get bouncy with Canvas and Box2D<br>(Martin Gorner)</td>
                </tr>
                <tr>
                  <td>4:00pm - 6:00pm</td>
                  <td colspan="2">A 3D dive into WebGL and THREE.js<br>(Ricardo a.k.a. Mr. Doob + Martin Gorner)</td>
                </tr>
              </tbody></table>
              <p><strong>Setup for the Dart codelab:</strong></p>
              <p>Please install Dart Editor and test one of the samples to ensure everything works. If you have troubles, please review Troubleshooting Dart Editor.</p>
              <p><strong>Setup for other codelabs:</strong></p>
              <p>Just your favorite JS editor and Chrome (or Firefox).</p>
            </div>
          </div>
          <hr>

          <h4 id="microsoft"><a href="#microsoft">Microsoft</a></h4>
          <div class="row">
            <div class="four columns">
              <p><strong>Location:</strong> <a href="http://www.eemi.com">EEMI</a></p>
              <p><strong>Hours:</strong> 2pm-6pm</p>
              <p><a href="http://amiando.com/dotjs">Tickets</a></p>
            </div>
            <div class="eight columns">
              <p>Au cours de cet atelier vous découvrirez comment utiliser vos compétences HTML5/CSS3/Javascript pour développer des applications Windows 8 Modern UI natives.</p>
              <p>Cette découverte se fera au travers de plusieurs ateliers guidés :</p>
              <ul>
                <li style="list-style:none!important">Découverte des fonctionnalités natives de Windows 8 comme:
                  <ul>
                    <li>Le framework de navigation</li>
                    <li>WinJS</li>
                    <li>Les contrats (search & share)</li>
                    <li>Settings et gestion des préférences</li>
                    <li>Les tuiles de Windows 8</li>
                  </ul>
                </li>
                <li style="list-style:none!important">Mise en œuvre : Comment créer un lecteur de flux RSS complet en deux heures</li>
              </ul>
            </div>
          </div>
          <hr>

          <h4 id="appsfuel"><a href="#appsfuel">AppsFuel</a></h4>
          <div class="row">
            <div class="four columns">
              <p><strong>Location:</strong> <a href="http://www.eemi.com">EEMI</a></p>
              <p><strong>Hours:</strong> 2pm-6pm</p>
              <p><a href="http://amiando.com/dotjs">Tickets</a></p>
            </div>
            <div class="eight columns">
              <strong>Building Mobile Web Apps with HTML5 &amp; Javascript.</strong>
              <p>Thanks to HTML5 technologies, mobile web apps represent one of the most exciting mobile business opportunities for the near future and beyond.  Are you ready to make the most of your web development skills, Javascript, CSS3 to create products that are specifically designed and optimised for today's smartphones and tablets?  The AppsFuel team will guide you in the creation of your first web app for mobile devices without using any restrictive native or hybrid technologies and without frameworks.  Just pure Javascript and HTML5.</p>
              <style>
              ul, li {
                list-style: disc !important;
              }
              li {
                margin-bottom: 0 !important;
              }
              </style>
              <p>What you will learn:</p>
              <ul>
                <li>What are the most useful and supported features of HTML5 for mobile devices</li>
                <li>How to set up your apps to be compatible with iPhone, Android and other devices that support HTML5</li>
                <li>How to realise an effect of "scrolling panels" in your webapp</li>
                <li>How to create a grafic interface using only CSS3</li>
              </ul>
              <p>What you will need:</p>
              <ul>
                <li>A mobile device compatible with HTML5</li>
                <li>Basic knowledge of HTML and Javascript</li>
                <li>Latest version of Firefox, Chrome or Safari installed on your computer</li>
                <li>Your favorite text editor</li>
              </ul>
            </div>
          </div>
          <hr>

          <h4 id="joshfire"><a href="#joshfire">Joshfire</a></h4>
          <div class="row">
            <div class="four columns">
              <p><strong>Location:</strong> <a href="http://www.eemi.com">EEMI</a></p>
              <p><strong>Hours:</strong> 2pm-6pm</p>
              <p><a href="http://amiando.com/dotjs">Tickets</a></p>
            </div>
            <div class="eight columns">
              <p>Joshfire will run a workshop on Node.js development for beginners.</p>
            </div>
          </div>
          <hr>

          <div class="alert-box" style="font-size:1.3em;">
            The tickets will be available on October, 31 <strong>separately</strong> and for <strong>free</strong> on <a href="http://amiando.com/dotjs">Amiando</a>.
          </div>

          <h3>Want to host a workshop?</h3>
          <p><a href="/partners">Contact us</a>!</p>
        </div>
      </div>