/* -----------------------------------------
   Shared Styles
----------------------------------------- */

body {
  background: #312c24;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'TitilliumText22LBold', Arial, sans-serif;
  color: #fff;
}

a {
  color: #ffee71;
}

acronym {
  color: #fff;
  border-bottom: 1px dashed #fff;
}

.logo a {
  margin-top: 28px;
  display: block;
  width: 170px;
  height: 72px;
  overflow: hidden;
  background: url('../images/logo.png') no-repeat center center;
}

.logo h1 {
  text-indent: -9999px;
}

.nav-bar {
  background: transparent;
  border: 0;
  margin-top: 40px;
  float: right;
}

.nav-bar > li {
  border: 0;
  height: 55px;
  line-height: 55px;
}

.nav-bar a {
  display: block;
  padding: 0 20px;
  text-align: center;
  font-family: 'TitilliumText22LBold', Arial, sans-serif;
  font-size: 18px !important;
  color: #fff;
  text-transform: uppercase;
}

.nav-bar .buy a {
  background: #fadd51;
  border-radius: 10px;
  color: #000;
  padding: 0 10px;
  height: 100%;
}

.container {
  padding: 0;
}

.header {
  background: #312c24;
  min-height: 125px;
}

.page {
  background: url('../images/bgnoise.png') #4c473f;
  padding-bottom: 30px;
}

.page h2 {
  margin-top: 50px;
}

div.alert-box {
  background: #fadd51;
  border: 0;
  border-radius: 0;
  box-shadow: 0;
  text-shadow: none;
  text-align: center;
  font-weight: normal;
  font-family: 'TitilliumText22LRegular', Arial, sans-serif;
  font-size: 1.3em;
  color: #000;
  padding: 9px;
}

div.alert-box a {
  color: #2A85E8;
}

div.alert-box strong {
  font-weight: normal;
  font-family: 'TitilliumText22LBold', Arial, sans-serif;
}

.big-title {
  text-shadow: 0 3px 0px rgba(0, 0, 0, 0.4);
  margin-top: 50px;
}

.big-title h1 {
  color: #fff;
  font-weight: 48px;
  font-weight: normal;
}

.big-subtitle {
  text-shadow: 0 3px 0px rgba(0, 0, 0, 0.4);
  font-family: 'TitilliumText22LRegular', Arial, sans-serif;
  margin: 20px 0 40px;
}

.big-subtitle h2 {
  color: #ffee71;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
}

.big-subtitle h3 {
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
}

.big-subtitle a:hover {
  color: #ffee71;
}

.speaker-box {
  margin-bottom: 30px;
}

/* Only needed when the "more" speaker box is not in the last column */
.speaker-box-more {
  float: left !important;
}

.speaker-name {
  color: #fff;
  font-weight: normal;
  font-family: 'TitilliumText22LBold', Arial, sans-serif;
  font-size: 18px;
  margin: 20px 0 0;
}

.speaker-description {
  color: #fff;
  font-family: 'TitilliumText22LRegular', Arial, sans-serif;
  font-size: 14px;
}

.social-box {
  border-radius: 5px;
  background: #5c574f;
  padding: 15px;
  margin-bottom: 18px;
}

.social-box-label {
  display: inline;
  color: #ffee71;
  font-size: 18px;
  height: 30px;
  font-family: 'TitilliumText22LBold', Arial, sans-serif;
}

.social-box-error {
  color: red;
  float: right;
  font-weight: bold;
}

.social-box-registered {
  color: lime;
  float: right;
  font-weight: bold;
}

#___plusone_0 {
  margin-top: -3px !important;
}

.social-box-label * {
  vertical-align: top;
}

.social-box-form {
  display: inline;
  float: right;
  clear: right;
  margin: 0;
}

form.nice input.input-text {
  display: inline-block;
  margin: 0;
  height: 31px;
  padding: 4px 3px;
}

.social-box input {
  vertical-align: top;
}

.footer {
  border-top: 1px solid #000;
  position: relative;
  background: url('../images/voronoi.png') #312c23;
  height: 200px;
  box-shadow: inset 0 1px 1px #000;
  text-align: center;
  overflow: hidden;
}

.footer svg {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 1;
  overflow: hidden;
}

.footer path {
  fill: #fadd51;
  stroke: #000;
  stroke-width: .5px;
}

.footer circle {
  fill: #ccc;
  stroke: #000;
  pointer-events: none;
}
.PiYG .q0-9 {
  fill: #312c24;
}
.PiYG .q1-9 {
  fill: #343028;
}
.PiYG .q2-9 {
  fill: #39342c;
}
.PiYG .q3-9 {
  fill: #3d3830;
}
.PiYG .q4-9 {
  fill: #2c2820;
}
.PiYG .q5-9 {
  fill: #302b23;
}
.PiYG .q6-9 {
  fill: #343028;
}
.PiYG .q7-9 {
  fill: #39342c;
}
.PiYG .q8-9 {
  fill: #3d3830;
}

.vardotJS {
  display: inline-block;
  width: auto !important;
  float: none !important;
  z-index: 2;
  margin-top: 23px;
  color: #fff;
  font-family: 'TitilliumText22LRegular', Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
}

.vardotJS strong {
  font-weight: normal;
  font-family: 'TitilliumText22LBold', Arial, sans-serif;
}

.vardotJS:hover {
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */

@media only screen and (max-width: 767px) {
  .logo a {
    margin: 28px auto 0;
  }

  .nav-bar {
    float: none;
    text-align: center;
    margin-top: 10px;
  }

  .nav-bar > li {
    display: inline-block;
  }

  .big-title {
    margin-top: 20px;
  }

  .big-subtitle {
    margin: 10px 0 20px;
  }

  .big-subtitle h2 {
    font-size: 20px;
  }

  .speaker-box {
    -webkit-box-sizing: border-box;
    padding: 10px;
  }

  .speaker-box-more {
    float: none !important;
  }

  .speaker-box .six.columns {
    float: left;
    width: 47.8% !important;
  }

  .social-box-form {
    float: none;
  }

  .social-box-form input {
    margin: 10px 0;
  }

  .footer svg {
    display: none;
  }
}

#partners {
  text-align: center;
}

#partners .logo-enyojs img {
  height: 300px;
}

#partners a {
  display: block;
  margin: 10px auto;
}

.gold-partner {
  width: 60%;
}

.silver-partner {
  width: 40%;
}

.bronze-partner {
  width: 20%;
}

#venue-text {
  margin-top: 30px;
  min-height: 400px;
}

.padd {
  padding-top: 30px;
}

#venue {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

#partner-sidebar {
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin-bottom: 20px;
}

#partner-sidebar h5 {
  color: #BBB;
  padding-top:10px;
}


#partner-sidebar img {
  max-width: 160px;
  max-height: 60px;
  margin-bottom: 20px;
}

#map {
  margin-top: 20px;
  height: 250px;
  color: #000;
}

#map img {
  max-width: inherit;
}

#venue-text p,
#venue-text li,
#venue-text address {
  font-family: 'TitilliumText22LRegular', Arial, sans-serif;
  font-size: 16px;
  color: #dddddd;
}

#venue-text strong {
  font-weight: normal;
  font-family: 'TitilliumText22LBold', Arial, sans-serif;
}

#venue-text span {
  color: #fff;
}

#metros li {
  margin: 0;
}

#workshops h2 {
  margin-top: 10px;
}

#workshops h3 {
  font-size: 18px;
}

#workshops .four p {
  margin-bottom: 0;
}

#workshop-photo-credit {
  position:relative;
  top:-25px;
  left:150px;
}

#workshops-venue {
  height:300px;
}